@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    }
    h1 {
        text-align: center;
        color: blue;
        background-color: aquamarine;

    }
    h2 {
        color: darkred;
        background-color: lightcyan;
        text-align: center;
    }
    p {
        text-align: justify;
    }